<p>
  form-builder works!
</p>

<!--<form [formGroup]="form">-->
  <!--<label for="name">Name:</label>-->
  <!--<input id="name" type="text" formControlName="name">-->
  <!--<br>-->
  <!--<div [formGoup]="matchingEmail">-->
    <!--<label for="email">Email:</label>-->
    <!--<input id="email" type="email" formControlName="email">-->
    <!--<br>-->
    <!--<label for="confirmEmail">Confirm Email:</label>-->
    <!--<input id="confirmEmail" type="email" formControlName="confirmEmail">-->
  <!--</div>-->
  <!--<br>-->
  <!--<div [formGroup]="matchingPassword">-->
    <!--<label for="password">Password:</label>-->
    <!--<input id="password" type="password" formControlName="password">-->
    <!--<br>-->
    <!--<label for="confirmPassword">Confirm Password:</label>-->
    <!--<input id="confirmPassword" type="password" formControlName="confirmPassword">-->
  <!--</div>-->
<!--</form>-->
<!--<p>Valid?: {{form.valid}}</p>-->
<!--<pre>{{form.value | json}}</pre>-->
